[
  {
    "type": "EVENT",
    "pattern": "PUSH",
    "excludeMatchedPattern": false
  },
  {
    "type": "FILE_PATH",
    "pattern": "${file_path_placeholder}",
    "excludeMatchedPattern": false
  },
  {
    "type": "HEAD_REF",
    "pattern": "${head_ref_placeholder}",
    "excludeMatchedPattern": false
  }
]